* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin basicCube($color) {
    flex-basis: 200px;
    height: 200px;
    background: $color;
}

@mixin textInBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.parent {
    height: 100vh;
    border: 20px solid rgb(0, 0, 0);
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    // or
    // flex-flow: row wrap;
    
    justify-content: space-evenly; // space-around
    justify-content: flex-start; // space-around
    align-items: flex-start;
    align-content: flex-start; 
    
}


.child01 {
    @include basicCube(rgb(39,61,134));
    @include textInBox;
    order:0;
    flex-grow: 1;
    flex: 1 1 20%;
}
.child02 {
    @include basicCube(rgb(172,57,53));
    @include textInBox;
    order:0;
    // flex-grow: 1;
    flex: 1 1 20%;
}
.child03 {
    @include basicCube(rgb(149,43,140));
    @include textInBox;
    order:0;
    
    flex: 1 1 60%;
    align-self: center;
}
.child04 {
    @include basicCube(rgb(69, 45, 95));
    @include textInBox;
    order:2;
    align-self: center; // funktioniert mit align-content nicht, also align-content kommentieren
}
.child05 {
    @include basicCube(rgb(149, 138, 43));
    @include textInBox;
    order:1;
}

