@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    height: 100vh;
    margin: 0;
}
html {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body .parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    height: 100vh;
}

body header {
    height: 4.5rem;
    grid-column: 1 / 4;
    background-color: pink;
    padding: 1.1rem;
}

body .left-side {
    grid-column: 1 / 2;
    background-color: blue;
    max-width: 10rem;    
    padding: 1.1rem;
}

body main {
    grid-column: 2 / 3;
    background-color: coral;
    padding: 1.1rem;
}

body .right-side {
    grid-column: 3 / 4;
    background-color: yellow;
    max-width: 10rem;
    padding: 1.1rem;

}

body footer {
    grid-column: 1 / 4;
    background-color: green;
    height: 4.5rem;
    padding: 1.1rem;
}